.occupation {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.occupation-list {
  @include centeredFlex(flex);
  @extend %list;
  margin: -15px;

  text-align: center;
}

.occupation__item {
  position: relative;
  width: calc((100% - 3 * 30px) / 3);
  margin: 15px;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.occupation__thumb {
  height: 294px;
}

.occupation__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.occupation__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  color: $primary-color;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
