.page-footer__address {
  color: $primary-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.page-footer__link {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
