.page-footer__block {
  text-align: center;

  @media screen and(min-width:1200px) {
    text-align: start;
  }

  @media screen and(max-width:1199px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

.page-footer__block--box {
  display: block;
  margin-bottom: 20px;
}

.page-footer__block--address {
  margin-bottom: 8px;
}
