.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__box {
  @extend %container;

  // outline: 1px solid blue;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and(max-width: 1199px) {
    margin-bottom: 30px;
  }
}
