.team-box {
  background-color: $primary-bg-color;
}

.team-box__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    @include centeredFlex(flex);
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-box__item {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
    width: 354px;
    margin: 15px;
  }

  @media screen and( min-width:1200px) {
    width: calc((100% -4 * 30px) / 4);
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.team-box__content {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $primary-color;
}

.team-box__name {
  margin-top: 0;
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-box__prof {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
